@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colours" as *;

.welcome {
    @include module-content;
    margin-bottom: 1rem;
}

.btn {
    display: flex;
    justify-content: flex-end;

    &__next {
        border: 1px solid $secondary-orange;
        border-bottom: 3px solid $secondary-orange;
        @include button;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            @include btn-vital;
        }
    }
}

.learn {

    &__statement {
        margin-bottom: 1.25rem;
        font-size: 17px;
        font-weight: 300;
    }

    &__details {
        margin-bottom: 2rem;
    }

    &__more {
        margin-bottom: 2rem;
    }
}

.star-progress {
    display: flex;
    justify-content: flex-end;

}

.hide-facts,
.hide-myths,
.hide-category {
    display: none;
}