@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colours" as *;
@use "../../styles/partials/breakpoints" as *;

.learn {
    &__category {
        font-size: 1.5rem;
        padding-bottom: 0.75rem;
    }

    &__statement {
        font-size: 1rem;
        margin-bottom: 0.5rem;
        font-weight: 400;
    }

    &__details {
        font-size: 0.875rem;
        font-weight: 300;
        margin-bottom: 0.5rem;
    }

    @include tablet {
        &__category {
            font-size: 1.75rem;
            padding-bottom: 0.75rem;
            margin-top: 2rem;
        }

        &__statement {
            font-size: 1.25rem;
        }

        &__details {
            font-size: 1rem;
            margin-bottom: 2rem;
        }
    }

    @include desktop {
        &__category {
            font-size: 2rem;
            padding-bottom: 1.5rem;
            margin-top: 2rem;
        }

        &__statement {
            font-size: 1.5rem;
            margin-bottom: 0.75rem;
        }

        &__details {
            font-size: 1rem;
            margin-bottom: 2rem;
        }
    }
}

.btn {
    display: flex;
    justify-content: flex-end;

    &__next {
        border: 1px solid $secondary-orange;
        border-bottom: 3px solid $secondary-orange;
        @include button;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 500px;

        @include tablet {
            bottom: 0px;
            right: 115px;
            top: 465px;
        }

        @include desktop {
            bottom: 0px;
            right: 234px;
            top: 450px;
        }

        &:hover {
            @include btn-vital;
        }
    }
}

.star-progress {
    display: flex;
    justify-content: flex-end;

}

.hide-facts,
.hide-myths,
.hide-nuggets,
.hide-category {
    display: none;
}