@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/mixins" as *;

.interests {
    &__interest-container {
        display: flex;
        margin-left: 1rem;
        margin-bottom: 0.25rem;
    }

    &__list {
        margin-top: 1rem;
    }

    &__message {
        display: none;
    }

    &__error {
        margin-top: 1rem;
        margin-left: 1rem;
        color: red;
        font-weight: 500;
        display: block;
    }

    &__interest {
        margin-right: 1rem;
    }

    &__title {
        @include mobile-module-title;

        @include tablet {
            @include tablet-module-title
        }

        @include desktop {
            @include desktop-module-title;
        }
    }
}

.form {
    &__instructions {
        margin: 0;
    }

    &__buttons {
        margin: 2rem 0 1rem;
        display: flex;
        justify-content: flex-start;
        column-gap: 1.375rem;
    }

    &__cancel {
        border: 1px solid;
    }
}