@use "../../styles/partials/globals" as *;
@use "../../styles/partials/colours" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/globals" as *;
@use "../../styles/partials/breakpoints" as *;

.details__title {
    @include mobile-module-title;

    @include tablet {
        @include tablet-module-title
    }

    @include desktop {
        @include desktop-module-title;
    }
}

.form {
    @include module-content;

    &__instructions {
        margin-bottom: 1.5rem;
    }

    &__input {
        margin-top: 1rem;
        border-radius: 14px;
    }

    &__buttons {
        margin: 2rem 0 1rem;
        display: flex;
        justify-content: flex-start;
        column-gap: 1.375rem;
    }

    &__begin {
        border: 1px solid $secondary-orange;
        border-bottom: 3px solid $secondary-orange;

        &:hover {
            @include btn-vital;
        }
    }

    &__cancel {
        border: 1px solid;
    }

    @include tablet {
        width: 30rem;

        &__buttons {
            justify-content: flex-end;
        }
    }

    @include desktop {
        margin: 0 auto;
        width: 31.25rem;
    }
}

.first-name,
.last-name,
.email {
    width: 12.375rem;

    @include tablet {
        width: 15rem;
    }

    @include desktop {
        width: 16rem;
    }
}

.error {
    border: 3px solid red !important;
}

.server-error {
    color: red;
    font-weight: 600;

    &__details {
        display: block;
    }
}

.show-error {
    display: block;
    margin-left: 1rem;
    margin-right: 1rem;
}

.hide-error {
    display: none;
}