@use "../../styles/partials/globals" as *;
@use "../../styles/partials/colours" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/globals" as *;

.form {
    @include module-content;

    &__instructions {
        margin-bottom: 1.5rem;
        @include module-content;
    }

    &__input {
        margin-top: 1rem;
        border-radius: 14px;
    }

    &__buttons {
        margin: 1.5rem 0 1rem;
        display: flex;
        justify-content: flex-start;
        column-gap: 0.75rem;
    }

    &__begin {
        border: 1px solid $secondary-orange;
        border-bottom: 3px solid $secondary-orange;

        &:hover {
            @include btn-vital;
        }
    }

    &__cancel {
        border: 1px solid;
    }
}


.error {
    border: 3px solid red !important;
}

.server-error {
    color: red;
    font-weight: 600;

    &__details {
        display: block;
    }

}

.show-error {
    display: block;
    margin-left: 1rem;
    margin-right: 1rem;
}

.hide-error {
    display: none;
}