@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colours" as *;
@use "../../styles/partials/globals" as *;

.footer {
    position: relative;
    bottom: 0;
    text-align: center;
    font-size: 0.625rem;
    margin: 3rem 0 0rem;
    background-color: $secondary-lightpurple;
    padding: 3rem 1rem 0.25rem;

    &__tag {
        font-size: 0.875rem;
    }

    &__booknow {
        font-size: 0.875rem;
        background-color: $primary-purple;
        color: $primary-white;
        display: flex;
        margin: 1rem auto 2.5rem;
        padding: 0.5rem 1rem;

        width: fit-content;
        border-radius: $border-radius;

        a {
            color: $primary-white;
            text-decoration: none;
            font-weight: 400;
        }
    }
}

.social-media {
    margin-bottom: 2rem;

    &__title {
        font-size: 0.875rem;
        padding-bottom: 0.5rem;
    }

    &__icon {
        width: 1.625rem;
        margin: 0rem 0.5rem 1rem;
    }
}