@use "../../styles/partials/colours" as *;
@use "../../styles/partials/globals" as *;
@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/mixins" as *;


.milestone {
    &__celebrate-title {
        font-size: $mobile-celebrate-title;
        padding-bottom: 0;
    }

    &__celebrate-text {
        font-size: $mobile-celebrate-text;
        padding-top: $mobile-celebrate-padding-top
    }

    &__facts {
        border: 1px solid magenta;
        background-color: $secondary-orange;
        color: $primary-white;
        padding: 0.75rem 1rem 0.75rem;
        border-radius: $module-border-radius;
        margin-bottom: 3rem;
        font-weight: 300;
        font-size: 12px;
    }

    &__completed-text {
        padding-bottom: 0.5rem;
    }

    &__next-text {
        padding-top: 0.5rem;
    }

    @include tablet {
        &__celebrate-title {
            font-size: $tablet-celebrate-title;
            padding-bottom: 0;
        }

        &__celebrate-text {
            font-size: $tablet-celebrate-text;
            padding-top: $tablet-celebrate-padding-top;
        }

        &__facts {
            @include tablet-celebrate-bubble;
        }
    }

    @include desktop {
        &__facts {
            @include desktop-celebrate-bubble;
        }
    }
}

.email {
    color: $primary-white;
    font-weight: 500;
    text-decoration: none;
}

.showFactsCongrats {
    display: block;
}

.hideFactsCongrats {
    display: none;
}

.completion-code {
    font-weight: 500;
    font-style: italic;
}