@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colours" as *;

.welcome-prelude {
    @include module-content;
    margin-bottom: 1rem;
}

.btn {
    display: flex;
    justify-content: flex-end;

    &__start-learning {
        border: 1px solid $secondary-orange;
        border-bottom: 3px solid $secondary-orange;
        @include button;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            @include btn-vital;
        }
    }
}