@use "../../styles/partials/globals" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colours" as *;

.home {
    @include pages-content;

    &__headline {
        font-size: 26px;
        padding-bottom: 1rem;
        font-weight: 600;
    }

    &__subheadline {
        font-size: 16px;
        font-style: italic;
        font-weight: 300;
        padding-bottom: 1.5rem;
        font-weight: 600;
    }

    &__why-title {
        @include mobile-subtitle;
        margin: 1.5rem 0 0.75rem;
    }

    &__benefits {
        margin: 0.5rem 0 1rem 1.5rem;
        @include pages-content;
    }

    &__benefits-title {
        font-weight: 500;
        padding-right: 0.5rem;
    }

    @include tablet {
        &__headline {
            font-size: 28px;
        }

        &__subheadline {
            font-size: 20px;
            padding-bottom: 2.5rem;
        }

        &__greeting {
            font-size: 28px;
        }

        &__why-title {
            clear: both;
            margin-top: 2.5rem;
            font-size: 18px;
        }

        &__benefits {
            font-size: 16px;
        }
    }
}

.welcome {
    font-weight: 300;
    display: flex;
    flex-direction: column;

    &__greeting {
        color: $primary-purple;
        font-weight: 600;
        font-size: 26px;
        padding-right: 0.5rem;
    }

    &__profile {
        display: flex;
        justify-content: center;
    }



    @include tablet {
        &__greeting {
            font-size: 28px;
        }

        &__intro-profile-container {
            display: flex;

        }

        &__introduction {
            padding-top: 2rem;
            order: 2;
        }

        &__profile {
            padding: 0 2rem 1.25rem 0;
            order: 1;
        }

    }
}

.profile {

    &__photo {
        width: 14rem;
        border-radius: $module-border-radius;
        display: flex;
        justify-content: center;



        @include tablet {
            width: 18rem;
        }
    }
}