@use "../../styles/partials/colours" as *;

.container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 90vw;
    height: 95vh;
    border-radius: 12px;
    background-color: $primary-white;
    margin: auto;
    z-index: 2;

    box-shadow:
        inset $primary-purple 0 0 0 5px, 
        inset #ae76d6 0 0 0 1px, 
        inset $secondary-orange 0 0 0 6px, 
        inset #754796 0 0 0 11px, 
        inset #be6af9 0 0 0 16px, 
        inset #c99de9 0 0 0 17px, 
        inset #e1c7f4 0 0 0 21px, 
        inset #e4dee8 0 0 0 22px;
}

.close-button {
    display: flex;
    justify-content: flex-end;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem 1.5rem 0 0;
    cursor: pointer;
}