@use "../../styles/partials/colours" as *;
@use "../../styles/partials/breakpoints" as *;

.hypno-section {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 90vw;
    height: 95vh;
    border-radius: 12px;
    background-color: $primary-white;
    margin: auto;
    z-index: 2;
    box-shadow:
        inset $primary-purple 0 0 0 5px,
        inset #9566b7 0 0 0 1px,
        inset $secondary-orange 0 0 0 6px,
        inset #9132d4 0 0 0 11px,
        inset #af79d6 0 0 0 16px,
        inset #b392cb 0 0 0 17px,
        inset #d0bcdf 0 0 0 21px,
        inset #e4dee8 0 0 0 22px;

    @include tablet {
        padding: 0 1.5rem;
    }
}

.hypno {
    &__header {
        display: flex;
        justify-content: space-between;
        padding-top: 1rem;
        padding: 1rem 1.5rem 1.5rem;
    }

    &__product {
        padding: 0.25rem 0 0 0.25rem;
        font-weight: 400;
        font-size: 0.875rem;
    }

    &__content {
        margin: 0 2.25rem;
    }

    @include tablet {
        &__header {
            padding: 1rem 0 1.5rem 0rem;
        }

        &__content {
            margin: 0 3rem;
        }
    }

    @include desktop {
        &__content {
            margin: 0 9rem;
        }
    }
}

.close-button {
    display: flex;
    justify-content: flex-end;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
}