$primary-purple: #3C096C;
$primary-white: #FFFFFF;

$secondary-orange: #FF5800;
$secondary-darkpurple: #09000a;
$secondary-yellow: #ffff00;
$secondary-lightpurple: #fbeafe;


$nice-blue: #20a7db;
$old-lightpurple: #E0E0F6;