@use "./fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colours" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

body {
    font-size: 14px;
}


main {
    @include mobile-main;

    @include tablet {
        @include tablet-main;
    }

    @include desktop {
        @include desktop-container;
        @include desktop-main;
    }
}

h1 {
    font-weight: 600;
    font-size: 24px;
    padding-bottom: 1rem;

    @include tablet {
        font-size: 32px;
    }

    @include desktop {
        font-size: 32px;
    }
}

h2 {
    padding-bottom: 1rem;
}

label {
    display: block;
}

input {
    margin-top: 0.1875rem;
    border-radius: 4px;
    border: 1px soli
}

button {
    @include button;
}

li {
    padding-bottom: 0.5rem;
}


$border-radius: 4px;
$module-border-radius: 12px;

$mobile-celebrate-padding-top: 0.75rem;
$mobile-celebrate-bubble-margin-top: 1rem;
$mobile-celebrate-title: 20px;
$mobile-celebrate-text: 14px;
$mobile-celebrate-margin-top: 1rem;

$tablet-celebrate-bubble-margin-top: 2rem;
$tablet-celebrate-title: 28px;
$tablet-celebrate-text: 16px;
$tablet-celebrate-padding-top: 1rem;