@use "./fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colours" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

body {
    font-size: 12px;
}


main {
    @include mobile-main;

    @include tablet {
        @include tablet-main;
    }

    @include desktop {
        @include desktop-container;
        @include desktop-main;
    }
}

h1 {
    font-weight: 600;
    font-size: 24px;
    padding-bottom: 1rem;

    @include tablet {
        font-size: 32px;
    }

    @include desktop {
        font-size: 32px;
    }
}

h2 {
    padding-bottom: 1rem;
}

label {
    display: block;
}

input {
    margin-top: 0.1875rem;
    border-radius: 4px;
    border: 1px soli
}

button {
    @include button;
}


$border-radius: 4px;
$module-border-radius: 12px;