@use "./colours" as *;

@mixin mobile-main {
    margin: 0 1rem;
}

@mixin tablet-main {
    margin: 0 3rem;
}

@mixin desktop-main {
    margin: 0 9rem;
}

@mixin desktop-container {
    //width: 1280px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

@mixin btn-vital {
    font-weight: 600;
    background-color: $secondary-orange;
    color: $primary-white;
}

@mixin module-content {
    margin-left: 1rem;
    margin-right: 1rem;
}

@mixin button {
    width: 5.5rem;
    height: 28px;
    border-radius: 4px;
    font-size: 0.875rem;
    outline: none;
    cursor: pointer;
}