@use "../../styles/partials/colours" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/breakpoints" as *;

.booknow__subheadline {
    font-style: italic;
}


.module-intro {
    &__subtitle {
        font-weight: 500;
        padding: 1rem 0;
    }

    &__discover {
        margin-left: 1.5rem;
    }

    &__container {
        border-radius: 9px;

        @include desktop {
            margin: 0rem;
        }
    }
}

.start-module,
.consult__link {
    border: 1px solid $secondary-orange;
    border-bottom: 3px solid $secondary-orange;
    border-radius: 5px;
    padding: 0.25rem 0.75rem;
    margin-top: 1rem;
    text-align: center;
    cursor: pointer;

    &:hover {
        @include btn-vital;
    }

    @include tablet {
        width: 17rem;
    }
}

.consult__text {
    padding: 2rem 0 0;
}

.show {
    background-color: $secondary-darkpurple;
    opacity: 50%;
    display: block;
    position: fixed;
    top: 0rem;
    left: 0rem;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

.hide {
    display: hide;
}